<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="landing-page.css?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="../../assets/Image/logosemfundo.png" class="logo">
        <div class="width"></div>
        <div class="buttons">
            <button href="">Cadastrar</button>
            <button href="">Entrar</button>
        </div>
    </header>
    <main>
        <div class="carrossel">
        </div>
        <section class="section-one">
            <div class="accordions">
                <p>Os perfis disponíveis em nosso site</p>
                <details>
                    <summary>Instituição</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
                <details>
                    <summary>Professores</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
                <details>
                    <summary>Alunos</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
            </div>
            <div>
                <p>Apresentação do site</p>
                <div class="video"></div>
            </div>
        </section>


        <!---->
        <p>Mais informações</p>
        <section class="section-two">
            <div>
                <div class="img"></div>
            </div>
            <div class="accordions-two">
                <details>
                    <summary>Sobre nós</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
                <details>
                    <summary>Missão, visão e valores</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
            </div>
        </section>
    </main>
    <br>
    <footer>
        <p>&copy;Galaxiadosaber 2025</p>
    </footer>
</body>

</html>