#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#loader.show {
    display: flex;
    opacity: 1;
}

#loader.hide {
    opacity: 0;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    min-width: 98vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.carousel {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

.carousel .slides {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 1000px;
    border-radius: 20px
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -80px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navigation-buttons div {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.navigation-buttons {
    position: absolute;
    width: 800px;
    margin-top: 520px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#radio1:checked~.navigation-buttons .navigation-btn1 {
    background-color: #27b178;
}

#radio2:checked~.navigation-buttons .navigation-btn2 {
    background-color: #27b178;
}

#radio3:checked~.navigation-buttons .navigation-btn3 {
    background-color: #27b178;
}

.manual-btn {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:hover {
    background-color: #27b178;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

p {
    text-align: center;
}

p:last-child {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

header {
    background: #250664;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 18px;
}

header .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .buttons button {
    background-color: #100629;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    transition: 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

header .buttons button:hover {
    /* background-color: #27b178; */
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 120px;
    letter-spacing: 2px;
}

.logo {
    width: 135px;
}

.width {
    width: 70%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

main .carrossel img {
    width: 1200px;
    border-radius: 20px
}

main .section-one {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

main .section-one .video img {
    width: 900px;
    border-radius: 20px
}

.section-two {
    display: flex;
    gap: 100px;
    align-items: center;
}

main .section-two .img img {
    width: 600px;
    border-radius: 20px;
}

main .accordions details {
    margin: 10px 0;
    /* border: 1px solid #000000; */
    width: 90vw;
    padding: 10px;
    background-color: #27b178;
    border-radius: 20px;
    cursor: pointer;
}

main .accordions-two details {
    margin: 10px 0;
    /* border: 1px solid #000000; */
    width: 30vw;
    padding: 10px;
    background-color: #27b178;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background: #250664;
    padding: 5px;
    color: white;
    margin-top: 40px;
}

#modal {
    display: none;
}

#modal.show-modal {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #27b178;
    /* background-color: #000000; */
    width: 180px;
    color: white;
    position: absolute;
    top: 90px;
    right: 25px;
}

.modal-button {
    height: 40px;
    transition: 0.6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;

    &:hover {
        background-color: #250664;
        /* background-color: white; */
        /* color: black; */
        color: white;
        border: 1px solid black;
        letter-spacing: 1px;
    }
}