<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="landing-page.css?v=3">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div id="loader" style="display:none;">
        <div class="spinner"></div>
    </div>
    <header>
        <img src="../../assets/icons/logosemfundo.png" class="logo">
        <div class="width"></div>
        <div class="buttons">
            <button onclick="navigateRegister()">Cadastrar</button>
            <button id="btnOpen" onclick="openModal()">Entrar</button>
        </div>
    </header>
    <main>
        <div class="carousel">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">

                <div class="slide first">
                    <img src="../../assets/Image/slide1.jpg">
                </div>
                <div class="slide">
                    <img src="../../assets/Image/slide2.jpg">
                </div>
                <div class="slide">
                    <img src="../../assets/Image/slide3.jpg">
                </div>

                <div class="navigation-buttons">
                    <div class="navigation-btn1"></div>
                    <div class="navigation-btn2"></div>
                    <div class="navigation-btn3"></div>
                </div>
            </div>
            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
        <section class="section-one">
            <div class="accordions">
                <p>Os perfis disponíveis em nosso site</p>
                <details>
                    <summary>Instituição</summary>
                    <p>Galáxia do Saber é uma plataforma de aprendizado pensada para auxiliar desde a instituição de
                        ensino, até o aluno.

                        Ao realizar o cadastro, a escola pode adicionar e administrar perfis de professores e alunos,
                        além de organizá-los em turmas, contando com uma série de funcionalidades exclusivas. Entre elas
                        estão o gerenciamento completo de usuários; a emissão de relatórios detalhados, que apresentam o
                        desempenho da turma e as notas individuais de cada aluno; uma agenda integrada, que facilita a
                        organização de eventos, reuniões e do calendário escolar; além do envio de comunicados rápidos e
                        diretos para todos os perfis cadastrados. Tudo isso em um só ambiente digital, moderno e
                        intuitivo, que transforma a gestão educacional em um processo mais ágil e estratégico.
                    </p>
                </details>
                <details>
                    <summary>Professores</summary>
                    <p>O perfil do professor foi pensado para oferecer praticidade e recursos que facilitam o dia a dia
                        docente. Com ele, o professor pode criar atividades de forma simples e organizada, acompanhar
                        relatórios completos sobre o desempenho e progresso dos alunos, acessar a agenda integrada, que
                        auxilia no planejamento de aulas, compromissos e prazos importantes, além de receber mensagens e
                        comunicados gerais enviados pela instituição. Tudo em um ambiente digital intuitivo, que apoia o
                        professor na gestão de suas turmas e no acompanhamento pedagógico de forma mais estratégica e
                        eficiente.
                    </p>
                </details>
                <details>
                    <summary>Alunos</summary>
                    <p>O perfil do aluno foi desenvolvido para tornar a experiência de aprendizado mais envolvente,
                        dinâmica e divertida. Com um design colorido e atrativo, pensado especialmente para o público
                        infantil, o foco está em estimular o aprendizado por meio da gamificação, transformando cada
                        atividade em uma oportunidade de evolução. Nesse perfil, os alunos têm acesso a atividades
                        enviadas pelos professores, podem acompanhar seu progresso de forma visual e motivadora,
                        explorar jogos educativos que reforçam o conteúdo aprendido, além de consultar a agenda escolar
                        com compromissos e tarefas. O sistema também envia notificações personalizadas, avisando sobre
                        novas atividades e mensagens importantes. Tudo isso em um ambiente divertido e intuitivo, que
                        incentiva o desenvolvimento contínuo e desperta o prazer de aprender.
                    </p>
                </details>
            </div>
            <div>
                <p>Apresentação do site</p>
                <div class="video">
                    <img src="../../assets/Image/video.png">
                </div>
            </div>
        </section>

        <p>Mais informações</p>
        <section class="section-two">
            <div>
                <div class="img">
                    <img src="../../assets/Image/landing-2.jpg">
                </div>
            </div>
            <div class="accordions-two">
                <details>
                    <summary>Sobre nós</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
                <details>
                    <summary>Missão, visão e valores</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
                <details>
                    <summary>Entre em contato</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia veritatis voluptas aspernatur
                        dolorem, nulla quas quaerat eum doloribus corrupti iusto corporis cupiditate, culpa modi, illo
                        consectetur quidem iste numquam.</p>
                </details>
            </div>
        </section>
    </main>
    <br>
    <footer>
        <p>&copy;Galaxiadosaber2025</p>
    </footer>
    <div id="modal">
        <div class="modal-button" onclick="navigateLogin('institution')">Sou Instituição</div>
        <div class="modal-button" onclick="navigateLogin('teacher')">Sou Professor</div>
        <div class="modal-button" onclick="navigateLogin('student')">Sou Aluno</div>
    </div>
    <script src="landing-page.js"></script>
</body>

</html>