* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

.authenticator {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 8px;
}

.text {
    place-items: center;
    font-weight: bold;
    line-height: 150%;
}

.text .header {
    font-size: 36px;
}

.text {
    text-align: center;
}

.boxes {
    display: flex;
    gap: 20px
}

.boxes input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

button {
    height: 36px;
    width: 30%;
    border: none;
    background: linear-gradient(to right, #9C27F0, #1976F2);
    transition: 0.3s;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 20px;
}

button:hover {
    background: linear-gradient(to right, #5c2485, #174683);
}

@media screen and (max-width: 550px) {
    .authenticator {
        width: 100vw;
        height: 100vh;
    }
}