* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

header {
    background: #100629;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#open {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


#open_btn_icon {
    color: white;
    background-color: #100629;
}

.logo {
    width: 155px;
    height: 45px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons img {
    width: 35px;
}

:root {
    --sidebar-width: 240px;
    --header-height: 70px;
}

#sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: #100629;
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    transform: translateX(calc(-1 * var(--sidebar-width)));
    transition: transform 400ms ease;
    z-index: 1200;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#sidebar.show-sidebar {
    transform: translateX(0)
}

.material-symbols-outlined {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

#register-items {
    display: none;
}

#register-items.show-register-items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 15px;
}

.side-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px
}

.side-item:hover {
    background-color: #27b178;
    border-radius: 15px;
}

.side-item.active a {
    color: #fff;
}

.side-item.active {
    background: #27b178;
    border-radius: 15px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#logout {
    border-top: 1px solid gray;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px
}

#logout:hover {
    background-color: #d41010;
    border-radius: 15px
}

#logout-modal {
    display: none;
}

#logout-modal.show-logout-modal {
    display: flex !important;
    flex-direction: column;
    background: #100629;
    height: 115px;
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 15px;
    z-index: 2000;
    transition: all 0.3s ease;
}

#logout-modal .logout-buttons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#logout-modal .logout-buttons button {
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
}

#logout-modal .logout-buttons button:first-child {
    background: #d41010;

    &:hover {
        background-color: #971313;
    }
}

#logout-modal .logout-buttons button:last-child {
    background: #27b178;
    cursor: pointer;

    &:hover {
        background-color: #207753;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1500;
    transition: opacity 0.3s ease;
    opacity: 0;
}

body.modal-open #overlay {
    display: block;
    opacity: 1;
}

body.modal-open *:not(#logout-modal):not(#logout-modal *) {
    pointer-events: none;
}

main#app-content {
    position: relative;
    top: var(--header-height);
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - var(--header-height));
    transition: left 0.3s, width 0.3s;
    z-index: 500;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}

body.sidebar-open main#app-content {
    transform: translateX(120px);
}