* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background: #100629;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

#open {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


#open_btn_icon {
    color: white;
    background-color: #100629;
}

.logo {
    width: 155px;
    height: 45px;
}

.width {
    width: 80%;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons img {
    width: 35px;
}

#sidebar {
    display: none;
}

#sidebar.show-sidebar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #100629;
    height: 90%;
    width: 250px;
    position: absolute;
    top: 70px;
    left: 5px;
    border-radius: 15px;
    padding: 10px;
}

.material-symbols-outlined {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

#register-items {
    display: none;
}

#register-items.show-register-items {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    /* border: 2px solid #27b178; */
    border-radius: 15px;
}

div .side-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px
}

div .side-item:hover {
    background-color: #27b178;
    border-radius: 15px
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#logout {
    border-top: 1px solid gray;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px
}

#logout:hover {
    background-color: #d41010;
    border-radius: 15px
}

#logout-modal {
    display: none;
}

#logout-modal.show-logout-modal {
    display: flex !important;
    flex-direction: column;
    background: #100629;
    height: 115px;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    border-radius: 15px;
}

#logout-modal .logout-buttons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#logout-modal .logout-buttons button {
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
}

#logout-modal .logout-buttons button:first-child {
    background: #d41010;

    &:hover {
        background-color: #971313;
    }
}

#logout-modal .logout-buttons button:last-child {
    background: #27b178;

    &:hover {
        background-color: #207753;
    }
}