* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #250664;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 90px;

}

.header-buttons {
    display: flex;
    gap: 20px;
}

.logo {
    width: 155px;
    height: 45px;
}

.back {
    width: 35px;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    left: 60px;
    top: 120px;
}

.back:hover {
    width: 45px;
}

.titulo {
  text-align: center;  
  font-size: 22px;
  font-weight: bold;
  color: #0b052b;
  margin-top: 20px;  
}

.layout {
  display: flex;
  gap: 20px;
}

.publicados {
  width: 70%;
  padding: 40px;
  background: #fff;
  border: 2px solid #e3e7f3;
  border-radius: 15px;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.publicados h2 {
  font-size: 13px;
  font-weight: bold;
  color: #0b052b;
  text-align: center;
}


#lista-comunicados {
  list-style: none;
  margin-top: 20px;
}

#lista-comunicados li {
  background: #eef1fb;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 13px;
  cursor: pointer;
}

.mensagem {
  text-align: center;
}

.mensagem p {
  font-size: 16px;
  color: #0b052b;
  margin-bottom: 20px;
}

.form,
.detalhes {
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #0b052b;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .publicados {
    width: 100%;
    max-width: 500px;
  }

  .painel {
    width: 100%;
    margin-top: 20px;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .titulo {
    font-size: 20px;
  }

  .publicados {
    padding: 12px;
  }

  #lista-comunicados li {
    font-size: 12px;
    padding: 7px;
  }

  .painel {
    padding: 20px;
  }

  .mensagem p {
    font-size: 14px;
  }

  input,
  textarea {
    font-size: 13px;
    padding: 8px;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 420px) {
  .titulo {
    font-size: 18px;
  }

  .painel {
    padding: 15px;
  }

  .mensagem p {
    font-size: 13px;
  }

  label {
    font-size: 13px;
  }
}

