* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#class-creation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#class-creation .container {
    display: flex;
    flex-direction: column;
    background: #E2E6EF;
    width: 500px;
    height: 450px;
    padding: 40px;
    gap: 30px;
    border-radius: 15px;
}

#class-creation h1 {
    text-align: center
}

#class-creation .fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#class-creation div {
    display: flex;
    flex-direction: column;
    gap: 5px
}

#class-creation input[type='text'] {
    height: 40px;
    border-radius: 15px;
    border: none;
}

#class-creation textarea {
    border-radius: 15px;
    border: none;
    padding: 10px;
}

#class-creation div .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#class-creation .buttons img {
    width: 40px;
    transition: 0.3s;

    &:hover {
        width: 45px;
    }
}

#class-creation input[type='submit'] {
    width: 250px;
    background: #100629;
    border-radius: 15px;
    color: white;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}