<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página de Login</title>
  <link rel="stylesheet" href="login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <form class="form" action="login.php" method="post">
      <div class="titles">
        <h2>Bem-vindo(a) de volta!</h2>
        <p>Entre na sua conta da Galáxia do Saber.</p>
      </div>
      <div class="fields">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="Digite seu email" required />
        </div>
        <div>
          <label for="password">Senha:</label>
          <input type="password" name="password" placeholder="Digite sua senha" required />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Entrar</button>
        <a href="../register/register-step-1/register.html">Cadastre-se!</a>
      </div>
    </form>
</body>

</html>