* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background: #100629;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center ;
}

#open {
    display: flex;
    align-items: center;
}

#open_btn_icon {
    color: white;
    background-color: #100629;
}

.logo {
    width: 155px;
    height: 45px
}

.width {
    width: 70%;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons img {
    width: 35px;
}



.open-sidebar {
    background-color: #100629;
    height: 100vh
}