* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*impede o scroll do body - o scroll será só no main*/
}

header {
    background: #100629;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 70px;
    position: fixed;
    /*fica fixo no topo*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /*garante que o header fique acima da sidebar*/
}

#open {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


#open_btn_icon {
    color: white;
    background-color: #100629;
}

.logo {
    width: 155px;
    height: 45px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons img {
    width: 35px;
}

#sidebar {
    display: none;
}

#sidebar.show-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #100629;
    height: calc(100vh - 70px);
    /*ocupa o resto da tela*/
    width: 250px;
    position: fixed;
    /*fixa na tela*/
    top: 70px;
    /*começa logo após os 70px de altura do header*/
    left: 5px;
    border-radius: 15px;
    padding: 10px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.material-symbols-outlined {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

#register-items {
    display: none;
}

#register-items.show-register-items {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    /* border: 2px solid #27b178; */
    border-radius: 15px;
}

div .side-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px
}

div .side-item:hover {
    background-color: #27b178;
    border-radius: 15px
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#logout {
    border-top: 1px solid gray;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px
}

#logout:hover {
    background-color: #d41010;
    border-radius: 15px
}

#logout-modal {
    display: none;
}

#logout-modal.show-logout-modal {
    display: flex !important;
    flex-direction: column;
    background: #100629;
    height: 115px;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    border-radius: 15px;
    z-index: 2000;
}

#logout-modal .logout-buttons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#logout-modal .logout-buttons button {
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
}

#logout-modal .logout-buttons button:first-child {
    background: #d41010;

    &:hover {
        background-color: #971313;
    }
}

#logout-modal .logout-buttons button:last-child {
    background: #27b178;
    cursor: pointer;

    &:hover {
        background-color: #207753;
    }
}

main#app-content {
    /* margin-left: 250px; */

    position: fixed;
    top: 20px;
    left: 240px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);

    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: left 0.3s, width 0.3s;
    z-index: 500;
}