* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.formulario {
  height: auto;
  width: 90vw;
  display: grid;
  gap: 40px;
  background-color: #E2E6EF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
}

.formulario .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario .campos {
  display: flex;
  justify-content: space-between;
}

.formulario .campos section {
  margin-top: 20px;
}

.formulario label {
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
  height: 33px;
  font-size: 1rem;
  width: 284px;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}