<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página de Cadastro</title>
  <link rel="stylesheet" href="register.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <form class="formulario" action="login.php" method="post">
    <div class="titles">
      <h2>Seja bem-vindo(a)!</h2>
      <p>Administrador, cadastre a sua instituição.</p>
    </div>
    <div class="campos">
      <!--lado esquerdo-->
      <section class="left-side">
        <div>
          <label for="nome">Razão Social:</label>
          <input type="text" id="razaosocial" name="razaosocial" required />
        </div>
        <div>
          <label for="nome">Nome Fantasia:</label>
          <input type="text" id="nomefantasia" name="nomefantasia" required />
        </div>
        <div>
          <label for="nome">Tipo de Instituição:</label>
          <select name="" id="">
            <option value="Instituição">Pública</option>
            <option value="Instituição">Privada</option>
          </select>
        </div>
        <div>
          <label for="nome">Código Inep:</label>
          <input type="text" id="codigoinep" name="codigoinep" required />
        </div>
        <div>
          <label for="nome">Telefone Fixo:</label>
          <input type="text" id="telefonefixo" name="telefonefixo" required />
        </div>
        <div>
          <label for="nome">Celular/Whatssap:</label>
          <input type="text" id="celular" name="celular" required />
        </div>
      </section>

      <!--lado direito-->

      <section class="right-side">
        <div>
          <label for="senha">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div>
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required />
        </div>
        <div>
          <label for="repetirSenha">Repita a senha:</label>
          <input type="password" id="repetirSenha" name="repetirSenha" required />
        </div>
    </div>
    <div class="buttons">
      <button type="submit">Continue</button>
    </div>
    </section>
  </form>
</body>

</html>