<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Prossiga com o cadastro</title>
  <link rel="stylesheet" href="register.css?v=4" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <form class="form" action="login.php" method="post">
    <div class="area">
      <img src="../../../assets/icons/volte.png" onclick="navigateBack()">
      <div class="headers">
        <h3>Seja bem-vindo(a)!</h3>
        <p>Administrador, preencha as informações de cadastro.</p>
      </div>
      <div></div>
    </div>
    <div class="fields">
      <section class="left-side">
        <div>
          <label>Razão Social:</label> <br>
          <input type="text" name="social-reason" required />
        </div>
        <div>
          <label>Nome Fantasia:</label> <br>
          <input type="text" name="fantasy-name" required />
        </div>
        <div>
          <label>CNPJ:</label> <br>
          <input type="text" name="cnpj" id="cnpj" required />
        </div>
        <div>
          <label>Código Inep:</label> <br>
          <input type="text" name="inep-code" required />
        </div>
        <div>
          <label>Telefone:</label> <br>
          <input type="text" name="phone" required />
        </div>
        <div>
          <label>E-mail:</label> <br>
          <input type="text" name="email" required />
        </div>
        <div>
          <label>Senha:</label> <br>
          <input type="password" name="password" required />
        </div>
        <div>
          <label>Repita a senha:</label> <br>
          <input type="password" name="repeat-password" required />
        </div>
      </section>
      <section class="right-side">
        <div>
          <label>CEP:</label> <br>
          <input type="text" name="cep" required />
        </div>
        <div>
          <label>Estado:</label> <br>
          <select name="state">
            <option value="option-one"></option>
            <option value="option-one">AC</option>
            <option value="option-two">AL</option>
            <option value="option-one">AP</option>
            <option value="option-two">AM</option>
            <option value="option-one">BA</option>
            <option value="option-two">CE</option>
            <option value="option-one">DF</option>
            <option value="option-two">ES</option>
            <option value="option-one">GO</option>
            <option value="option-two">MA</option>
            <option value="option-one">MT</option>
            <option value="option-two">MS</option>
            <option value="option-one">MG</option>
            <option value="option-two">PA</option>
            <option value="option-one">PB</option>
            <option value="option-two">PR</option>
            <option value="option-one">PE</option>
            <option value="option-two">PI</option>
            <option value="option-one">RJ</option>
            <option value="option-two">RN</option>
            <option value="option-one">RS</option>
            <option value="option-two">RO</option>
            <option value="option-one">RR</option>
            <option value="option-two">SC</option>
            <option value="option-one">SP</option>
            <option value="option-two">SE</option>
            <option value="option-two">TO</option>
          </select>
        </div>
        <div>
          <label>Município:</label> <br>
          <input type="text" name="municipality" id="municipality" required />
        </div>
        <div>
          <label>Bairro:</label> <br>
          <input type="text" name="neighborhood" id="neighborhood" required />
        </div>
        <div>
          <label>Rua:</label> <br>
          <input type="text" name="street" id="street" required />
        </div>
        <div>
          <label>Número:</label> <br>
          <input type="text" name="number" id="number" required />
        </div>
        <div>
          <label>Complemento:</label> <br>
          <input type="text" name="complement" id="complement" required />
        </div>
      </section>
    </div>
    <div class="buttons">
      <button type="submit">Enviar</button>
    </div>
  </form>
</body>
<script src="register.js"></script>

</html>